@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://unpkg.com/nes.css/css/nes.css');

//Colors
$star-black-bg: #111 url(https://dylanshearer.com.au/codepen/nextgen/stars.png) repeat top center;
$white: #fff;
$planet-h1: #099196;
$planet-span: #e7aa44;
$planet-title: #f8a00f;
$intro-color: #00BFFF;

//Images
$card-bg: url(../../assets/images/sw-card-bg.jpg);

//Font family
$font-default: "Press Start 2P";

//@Media
$sm: 425px;
$md: 600px;
$xl: 1800px; 

//Transition animations
$s01: 0.1s cubic-bezier(0.23, 1, 0.32, 1);
$s05: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
$s06: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
$s0506: 0.6s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
$s1: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);


$blink: blink 1s steps(4, start) infinite;